<style>
html, body {
  height: 100%;
}

body {
  font-family: calibri light;
  margin: 0 auto;
  background: #FFFFBB;
}

ul#salaries li {
    display:inline;
}

.right {
  float: right;
}

.top {
  margin-top: -30px;
}

#notebooks {
  background: whitesmoke;
  position: absolute;
  left: 50%;
  margin-left: -175px;
  margin-top: 35px;
  width: 350px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  max-height: 450px;
}

ul {
  margin: 0 auto;
  padding: 0;
  max-height: 800px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}

li#test {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: 
    linear-gradient(
      90deg,
      #FFD32E 10px,
      #EEE 10px,
      #EEE 11px,
      transparent 11px);
  padding: 10px 15px 10px 25px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks span {
  display: block;
  position: absolute;
  background: #FFD32E;
  bottom: -35px;
  left: -1px;
  width: 360px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

#notebooks select {
  width: 120px;
  margin-left: 230px;
  margin-top: -45px;
  border-radius: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 7.5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

#notebooks select:focus, #query:focus {
  border: 1px solid #FFD32E;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
  outline: none;
}
</style>

<div class="container" ng-controller="NBAController as player">
    <div class="jumbotron">
        <h1 align="center">NBA Application</h1>
        <br>
    </div>
	<input type="text" id="textQuery" ng-model="textQuery"/>
	<div>
		<label>
			Team Filter
		</label>
		<select ng-model="query">
			<option value="">Any</option>
			<option value="ATL">Atlanta Hawks</option>
			<option value="BOS">Boston Celtics</option>
			<option value="BKN">Brooklyn Nets</option>
			<option value="CHA">Charlotte Bobcats</option>
			<option value="CHI">Chicago Bulls</option>
			<option value="CLE">Cleveland Cavaliers</option>
			<option value="DAL">Dallas Mavericks</option>
			<option value="DEN">Denver Nuggets</option>
			<option value="DET">Detroit Pistons</option>
			<option value="GSW">Golden State Warriors</option>
			<option value="HOU">Houston Rockets</option>
			<option value="IND">Indiana Pacers</option>
			<option value="LAC">LA Clippers</option>
			<option value="LAL">LA Lakers</option>
			<option value="MEM">Memphis Grizzlies</option>
			<option value="MIA">Miami Heat</option>
			<option value="MIL">Milwaukee Bucks</option>
			<option value="MIN">Minnesota Timberwolves</option>
			<option value="NOP">New Orleans Pelicans</option>
			<option value="NYK">New York Knicks</option>
			<option value="OKC">Oklahoma City Thunder</option>
			<option value="ORL">Orlando Magic</option>
			<option value="PHI">Philadelphia Sixers</option>
			<option value="PHX">Phoenix Suns</option>
			<option value="POR">Portland Trail Blazers</option>
			<option value="SAC">Sacramento Kings</option>
			<option value="SAS">San Antonio Spurs</option>
			<option value="TOR">Toronto Raptors</option>
			<option value="UTA">Utah Jazz</option>
			<option value="WAS">Washington Wizards</option>
		</select>
	</div>
	<div>
		<label>
			Type Filter
		</label>
		<select>
			<option value="pointstosalary">Points / Salary</option>
			<option value="salary">Salary</option>
			<option value="points">Points</option>
		</select>
	</div>
    <div id="nba-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
		<ul id="player_ul">
			<li id="test" ng-repeat="player in players | filter:query | filter:textQuery">
			  playerID: {{player.playerID}}<br/>
			  name: {{player.name}}<br/>
			  teams: {{player.teams.join(", ")}}<br/>
			  traded: {{player.traded}}<br/>
			  salaries: 
			  <ul id="salaries" >
				  <li id="salaries_item" ng-repeat="salary in player.salary" >
					{{salary.salary}} {{salary.date}},
				  </li>
			  </ul>
			</li>
		</ul>
        </div>
    </div>
</div>